```{list-table} 
:stub-columns: 1

*   - Collection
    - {{ collection }}
*   - Product
    - {{ product }}
```

{% for setting in settings %}
#### {{ setting.setting }}

`````{card} 
{% for line in setting.description %}
{{ line }}
{%- endfor %}

{% if (setting.default or
       setting.type or
       setting.options or
       setting.example or
       setting.platforms or
       setting.deprecated or
       setting.deprecated_guidance) %}

````{card}

{% if setting.default -%}
**Default:** `{{ setting.default }}`
{%- endif -%}

{%- if setting.type -%}
{{"\n"}}
**Type:** `{{ setting.type }}`
{%- endif -%}

{% if setting.options -%}
{{"\n"}}
**Options:**
{{-" "-}}
{%- for option in setting.options -%} 
`{{ option}}`{{" "}}     
{%- endfor -%}
{%- endif -%}

{%- if setting.platforms -%}
{{"\n"}} 
**Platforms:**
{{-" "-}}
{%- for platform in setting.platforms -%} 
`{{ platform }}`{{" "}}     
{%- endfor -%}
{%- endif -%}

{%- if setting.deprecated -%}
{{"\n"}}
**Deprecated:** `{{ setting.deprecated }}`
{%- endif -%} 

{%- if setting.deprecated_guidance -%}
{{"\n"}}
**Deprecated Guidance:** {{ setting.deprecated_guidance }}
{%- endif -%} 

{%- if setting.example -%}
{{"\n"}}
**Example:** 
```{include} /_static/examples/{{ setting.example }}.md
```
{%- endif %} 

````
{% endif %}

`````
{% endfor %}
