@inherits RazorSlice<CodeViewModel>
<div class="highlight-@Model.Language notranslate">
	<div class="highlight">
		@if (!string.IsNullOrEmpty(Model.Caption))
		{
			<div class="code-block-caption">
				<span class="caption-text">@Model.Caption</span>
				<a class="headerlink" href="@Model.CrossReferenceName" title="Link to this code">¶</a>
			</div>
		}
		<pre><code class="language-@Model.Language">[CONTENT]</code></pre>
		<button class="copybtn o-tooltip--left" data-tooltip="Copy" data-clipboard-target="#codecell0">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<title>Copy to clipboard</title>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<rect x="8" y="8" width="12" height="12" rx="2"></rect>
				<path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
			</svg>
		</button>
	</div>
</div>