@inherits RazorSlice<GridViewModel>
<div class="sd-container-fluid sd-sphinx-override sd-mb-4 docutils">
	<div class="sd-row sd-row-cols-1 
				sd-row-cols-xs-@Model.BreakPoint.Xs 
				sd-row-cols-sm-@Model.BreakPoint.Sm 
				sd-row-cols-md-@Model.BreakPoint.Md 
				sd-row-cols-lg-@Model.BreakPoint.Lg docutils">
		[CONTENT]
	</div>	
</div>
