@inherits RazorSlice<GridViewModel>
<div class="sd-container-fluid sd-sphinx-override sd-mb-4 docutils">
	<div class="sd-row sd-row-cols-1 
				sd-row-cols-xs-@Model.BreakPointXs 
				sd-row-cols-sm-@Model.BreakPointSm 
				sd-row-cols-md-@Model.BreakPointMd 
				sd-row-cols-lg-@Model.BreakPointLg docutils">
		[CONTENT]
	</div>	
</div>
