@inherits RazorSlice<GridItemCardViewModel>
<div class="sd-col sd-d-flex-row docutils">
	<div class="sd-card sd-sphinx-override sd-w-100 sd-shadow-sm sd-card-hover docutils">
		<div class="sd-card-body docutils">
			<div class="sd-card-title sd-font-weight-bold docutils">@(new HtmlString(Model.Title))</div>
			[CONTENT]
			@if (!string.IsNullOrEmpty(Model.Link))
			{
				<a class="sd-stretched-link sd-hide-link-text reference external" href="@Model.Link"><span>@Model.Link</span></a>
			}
		</div>
	</div>
</div>