@inherits RazorSlice<StepViewModel>
<li class="step">
	@if (!string.IsNullOrEmpty(Model.Title))
	{
		<p id="@Model.Anchor">
			<a class="title" href="#@Model.Anchor">
				@Model.Title
			</a>
		</p>
	}
	[CONTENT]
</li>
