.api-url-listing {
	@apply mt-4;
	margin-left: 0 !important;
	&:has(.api-method-get) {
		.api-method {
			width: calc(4ch + var(--spacing));
		}
	}
	&:has(.api-method-put) {
		.api-method {
			width: calc(4ch + var(--spacing));
		}
	}
	&:has(.api-method-head) {
		.api-method {
			width: calc(5ch + var(--spacing));
		}
	}
	&:has(.api-method-post) {
		.api-method {
			width: calc(5ch + var(--spacing));
		}
	}
	&:has(.api-method-delete) {
		.api-method {
			width: calc(7ch + var(--spacing));
		}
	}

	li {
		list-style-type: none;
		margin-left: 0;
		a {
			@apply text-grey-80 inline-block w-full p-4 pr-4 pl-4 no-underline;
			@apply border-grey-20 bg-grey-10 rounded-sm border;
		}
		a.current {
			@apply border-grey-30 text-grey-120 bg-white p-4;
			font-weight: bold;
		}
		a:hover {
			@apply border-grey-30 text-grey-120 bg-white;
			font-weight: bold;
		}
	}
	li:only-child {
		a.current {
			@apply border-grey-20 rounded-sm border bg-white;
		}
		a.current:hover {
			@apply border-grey-20 bg-white;
		}
	}
	.api-method {
		@apply rounded-sm border;
		padding-left: var(--spacing);
		padding-right: var(--spacing);
		font-family: var(
			--default-mono-font-family,
			ui-monospace,
			SFMono-Regular,
			Menlo,
			Monaco,
			Consolas,
			'Liberation Mono',
			'Courier New',
			monospace
		);
		font-feature-settings: var(
			--default-mono-font-feature-settings,
			normal
		);
		font-variation-settings: var(
			--default-mono-font-variation-settings,
			normal
		);
		font-size: 0.8em;
		display: inline-block;
		font-weight: bold;
	}
	.api-method-get {
		@apply border-blue-elastic-30 bg-blue-elastic-10 text-blue-elastic;
	}
	.api-method-put {
		@apply border-yellow-30 bg-yellow-10 text-yellow-90;
	}
	.api-method-post {
		@apply border-green-30 bg-green-10 text-green-90;
	}
	.api-method-delete {
		@apply border-red-30 bg-red-10 text-red-90;
	}
	.api-url {
		margin-left: calc(var(--spacing) * 2);
		display: inline-block;
	}
	.api-url-list-item {
		@apply mt-4;
	}
}
#elastic-api-v3 {
	dt a {
		@apply no-underline;
		code {
			@apply inline-block p-1;
		}
	}
	h1 {
		@apply pt-4;
	}
	h3 {
		@apply border-b-grey-20 border-b-1 pb-2;
	}
	h4 {
		@apply border-b-grey-20 border-b-1 pb-2;
	}
}
