.markdown-content {
	ol,ul {
		font-family: "Inter", sans-serif;
		@apply text-base text-body mt-6;
		line-height: 1.5em;
		letter-spacing: 0;
		margin-left: 1.5em;
	}
	
	ol {
		list-style-type: decimal;
	}
	
	ul {
		list-style-type: disc;
	}

	li {
		@apply first:mt-0  mt-2;

		p {
			margin-bottom: 0;
		}
	}
}
