@layer components {
	.tabs {
		@apply relative mt-4 flex flex-wrap overflow-hidden;

		.tabs-label {
			@apply text-ink-light border-grey-20 z-20 -mb-[1px] flex cursor-pointer items-center border-1 px-6 py-2;
			&:not(:nth-of-type(1)) {
				margin-left: -1px;
			}

			&:hover {
				@apply bg-grey-10 border-b-1 border-b-black text-black;
			}
		}

		.tabs-input {
			@apply absolute opacity-0;
		}

		.tabs-content {
			@apply border-grey-20 z-0 order-99 hidden w-full border-1 px-6 pt-2 pb-6;
		}

		.tabs-input:checked + .tabs-label + .tabs-content {
			@apply block;
		}

		.tabs-input:checked + .tabs-label,
		.tabs-label:active {
			@apply border-b-blue-elastic text-blue-elastic border-b-1;
		}

		.tabs-input:focus-visible + .tabs-label {
			outline: var(--outline-size) var(--outline-style)
				var(--outline-color);
			outline-offset: var(--outline-offset, var(--outline-size));
		}
	}
}
