/* There's a weird double copy button showing up
This hides the ugly one */
#codecell0 > button,
#codecell1 > button,
#codecell2 > button,
#codecell3 > button,
#codecell4 > button,
#codecell5 > button,
#codecell6 > button,
#codecell7 > button,
#codecell8 > button,
#codecell9 > button
#codecell10 > button
#codecell11 > button{
  display: none !important;
}

/* The version selector in the header is broken
This prevents it from showing up */
.md\:inline{
  display: none;
}

/* hide annoying footer */
body > footer > div > div > div.sy-foot-copyright > p:nth-child(2){
  display: none;
}

/* hide annoyingly large margin on inline images */
.yue img {
  margin-top: 0;
  margin-bottom: 0;
}

.applies-badge {
	font-size: 1em;
	margin-top: 0.4em;
}

h1 {
	padding-bottom: 0.4em;
	border-bottom: 1px solid #dfdfdf;
}
.sd-outline-muted
{
	border: 1px solid #dfdfdf;
}
.product-availability {
	padding-bottom: 0.8em;
}

h1 + .product-availability {
	border-bottom: 1px solid #dfdfdf;
}

h1:has(+ .product-availability) {
	margin-bottom: 0.4em;
	padding-bottom: 0;
	border-bottom: none;
}

section:has(+ .product-availability) h2 {
	margin-bottom: 0.0em;
	padding-bottom: 0;
	border-bottom: none;
}

.applies-to-label {
	font-size: 1em;
	margin-top: 0.4em;
	margin-left: 0;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
}

/* 
The following CSS is used to hack the cases where a 'code' tag is combined 
with an 'a' tag that contains a 'code' tag as a child to make it appear as if it
was a single entity.

See https://github.com/elastic/docs-builder/issues/219 for further details
*/

/* select every 'a' tag with 'code' as child */
.yue a:has(> code:only-child) {
	border: 0 !important;
	text-decoration: underline;
	color: var(--yue-c-code-text);
}

/* select 'code' tag with 'a' tag as parent */
.yue a > code:only-child {
	color: var(--yue-c-code-text);
	font-size: 0.875em;
	padding: 2px 4px;
	border-radius: 3px;
	font-weight: 500;
	background-color: var(--yue-c-code-background);
}

/* select 'code' tag with 'a' tag as parent if the next sibling is 'code' */
.yue a:has(> code:only-child):has(+ code) > code:only-child {
	padding-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

/* select 'code' tag with 'a' tag parent if previous sibling tag is 'code */
.yue code + a > code:only-child {
	padding-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* select 'code' tag if previous sibling is 'a' tag with 'code' tag child */
.yue a:has(> code:only-child) + code {
	padding-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* select 'code' tag if next sibling is 'a' tag with 'code' tag child */
.yue code:has(+ a > code:only-child) {
	padding-right: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}


.admonition.plain {
	--icon-url: var(--lucide-chevron-right-url);
	--color-4: var(--gray-12);
	--color-1: var(--gray-2);
	--color-2: var(--gray-a4);
	--color-3: var(--gray-10);
}


/* Code Callouts */

.yue code span.code-callout {
	display: inline-flex;
	font-size: 0.75em;
	border-radius: 99999px;
	background-color: var(--accent-11);
	width: 20px;
	height: 20px;
	align-items: center;
	justify-content: center;
	margin: 0;
	transform: translateY(-2px);
}

.yue code span.code-callout > span {
	color: white;
}

.yue ol.code-callouts {
	margin-top: 0;
	counter-reset: code-callout-counter;
}

.yue ol.code-callouts li::before {
	content: counter(code-callout-counter);
	position: absolute;
	--size: 20px;
	left: calc(-1 * var(--size) - 5px);
	top: 5px;
	color: white;
	display: inline-flex;
	font-size: 0.75em;
	border-radius: 99999px;
	background-color: var(--accent-11);
	width: var(--size);
	height: var(--size);
	align-items: center;
	justify-content: center;
	margin: 0 0.25em;
	transform: translateY(-2px);
	font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.yue ol.code-callouts li {
	margin: 0 0 0.5rem 0;
	counter-increment: code-callout-counter;
	position: relative;
}

.yue ol.code-callouts li::marker {
	display: none;
}