@using Elastic.Markdown.Myst.FrontMatter
@inherits RazorLayoutSlice<LayoutViewModel>
<!DOCTYPE html>
<html lang="en" class="h-screen" xmlns="http://www.w3.org/1999/html">
@await RenderPartialAsync(_Head.Create(Model))

@{
	var layout = Model.CurrentDocument.YamlFrontMatter?.Layout;
}

<body
	class="group/body text-ink has-[#primary-nav-hamburger:checked]:overflow-hidden"
	hx-ext="preload, head-support"
	data-root-path="@Model.Link("/")">
@if (Model.GoogleTagManager.Enabled)
{
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@(Model.GoogleTagManager.Id)@(new HtmlString(Model.GoogleTagManager.QueryString()))"
	                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
}
@(await RenderPartialAsync(_Header.Create(Model)))
<div id="main-container" class="flex flex-col items-center border-t-1 border-grey-20">
	@functions {

		private async Task DefaultLayout()
		{
			<div class="container h-full grid gap-2 grid-cols-1 md:grid-cols-[calc(var(--spacing)*65)_1fr] lg:grid-cols-[calc(var(--spacing)*65)_1fr_calc(var(--spacing)*50)] px-6">
				@await RenderPartialAsync(_PagesNav.Create(Model))
				@await RenderPartialAsync(_TableOfContents.Create(Model))
				<main id="content-container" class="w-full flex flex-col order-2 relative pb-30 overflow-x-hidden">
					<div class="w-full absolute top-0 left-0 right-0 htmx-indicator" id="htmx-indicator" role="status">
						<div class="h-[2px] w-full overflow-hidden">
							<div class="progress w-full h-full bg-pink-70 left-right"></div>
						</div>
						<div class="sr-only">Loading</div>
					</div>
					<div class="content-container md:px-4">
						@await RenderPartialAsync(_Breadcrumbs.Create(Model))
					</div>
					<article id="markdown-content" class="content-container markdown-content md:px-4">
						<input type="checkbox" class="hidden" id="pages-nav-hamburger">
						@await RenderBodyAsync()
					</article>
					@await RenderPartialAsync(_PrevNextNav.Create(Model))
				</main>
			</div>
		}

	}

	@switch (layout)
	{
		case LayoutName.NotFound:
			await RenderPartialAsync(_NotFound.Create(Model));
			break;
		case LayoutName.LandingPage:
			await RenderPartialAsync(_LandingPage.Create(Model));
			break;
		case LayoutName.Archive:
			await RenderPartialAsync(_Archive.Create(Model));
			break;
		default:
			await DefaultLayout();
			break;
	}
</div>
@await RenderPartialAsync(_Footer.Create(Model))
@if (layout is not LayoutName.Archive)
{
	<aside id="dismissible-banner" class="admonition note">
		<div class="container flex justify-between items-center mx-auto">
			<p>
				You are viewing the new Elastic Docs experience for the <a class="link text-base" href="/docs/get-started/versioning-availability#find-docs-for-your-product-version">latest product versions</a>, including Elastic Stack 9.0.
				If the page exists in older docs, you can click <strong>View previous version</strong>.
			</p>
			<button id="dismissible-button">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
				</svg>
			</button>
		</div>
	</aside>
}
</body>
</html>
