@inherits RazorSliceHttpResult<IndexViewModel>
@implements IUsesLayout<Elastic.Markdown.Slices._Layout, LayoutViewModel>
@functions {
	public LayoutViewModel LayoutModel => new()
	{
		Title = $"Elastic Documentation: {Model.Title}",
		PageTocItems = Model.PageTocItems,
		Tree = Model.Tree,
		CurrentDocument = Model.CurrentDocument,
		Navigation = Model.Navigation
	};
}
<section id="elastic-docs-v3">
	<h1>@(Model.Title)</h1>
	@(new HtmlString(Model.MarkdownHtml))
</section>
