@inherits RazorSliceHttpResult<MyModel>
@implements IUsesLayout<Elastic.Markdown.Slices._Layout, LayoutModel>
@functions {
	public LayoutModel LayoutModel => new()
	{
		Title = $"Elastic Documentation: {Model.Title}",
		PageTocItems = Model.PageTocItems,
		Tree = Model.Tree
	};
}
<section id="elastic-docs-v3">
	<h1>@(Model.Title)</h1>
	@(new HtmlString(Model.MarkdownHtml))
</section>
