@using Elastic.Markdown.Slices.Components
@using Markdig
@inherits RazorSliceHttpResult<IndexViewModel>
@implements IUsesLayout<Elastic.Markdown.Slices._Layout, MarkdownLayoutViewModel>
@functions {
	public MarkdownLayoutViewModel LayoutModel => new()
	{
		Layout = Model.CurrentDocument.YamlFrontMatter?.Layout,
		RenderHamburgerIcon = Model.CurrentDocument.YamlFrontMatter?.Layout != LayoutName.LandingPage,
		DocSetName = Model.DocSetName,
		Title = $"{Model.Title} | {Model.SiteName}",
		Description = Model.Description,
		PageTocItems = Model.PageTocItems.Where(i => i is { Level: 2 or 3 }).ToList(),
		CurrentNavigationItem = Model.CurrentNavigationItem,
		Previous = Model.PreviousDocument,
		Next = Model.NextDocument,
		Parents = Model.Parents,
		NavigationHtml = Model.NavigationHtml,
		UrlPathPrefix = Model.UrlPathPrefix,
		GithubEditUrl = Model.GithubEditUrl,
		AllowIndexing = Model.AllowIndexing,
		CanonicalBaseUrl = Model.CanonicalBaseUrl,
		GoogleTagManager = Model.GoogleTagManager,
		Features = Model.Features,
		StaticFileContentHashProvider = Model.StaticFileContentHashProvider,
		ReportIssueUrl = Model.ReportIssueUrl,
		LegacyPage = Model.LegacyPage
	};
	protected override Task ExecuteSectionAsync(string name)
	{
		if (name == GlobalSections.Head && Model.Products is { Count: > 0 })
		{
			var products = string.Join(",", Model.Products.Select(p => p.DisplayName));
			<meta class="elastic" name="product_name" content="@(products)"/>
			<meta name="DC.subject" content="@(products)"/>
		}

		return Task.CompletedTask;
	}
}
<section id="elastic-docs-v3">
	@* This way it's correctly rendered as <h1>text</h1> instead of <h1><p>text</p></h1> *@
	@(new HtmlString(Markdown.ToHtml("# " + Model.TitleRaw)))
	@if (Model.AppliesTo is not null)
	{
		<p class="applies">
		@await RenderPartialAsync(ApplicableToComponent.Create(new ApplicableToViewModel
		{
			AppliesTo = Model.AppliesTo,
			Inline = false
		}))
		</p>
	}
	@(new HtmlString(Model.MarkdownHtml))
</section>