/* There's a weird double copy button showing up
This hides the ugly one */
#codecell0 > button,
#codecell1 > button,
#codecell2 > button,
#codecell3 > button,
#codecell4 > button,
#codecell5 > button,
#codecell6 > button,
#codecell7 > button,
#codecell8 > button,
#codecell9 > button
#codecell10 > button
#codecell11 > button{
  display: none !important;
}

/* The version selector in the header is broken
This prevents it from showing up */
.md\:inline{
  display: none;
}

/* hide annoying footer */
body > footer > div > div > div.sy-foot-copyright > p:nth-child(2){
  display: none;
}

/* hide annoyingly large margin on inline images */
.yue img {
  margin-top: 0;
  margin-bottom: 0;
}