@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';
@import './markdown/typography.css';
@import './markdown/list.css';
@import './markdown/tabs.css';
@import './markdown/code.css';
@import './copybutton.css';
@import './markdown/admonition.css';
@import './markdown/dropdown.css';
@import './markdown/table.css';
@import './markdown/definition-list.css';
@import './markdown/images.css';
@import './modal.css';
@import './archive.css';
@import './markdown/stepper.css';

:root {
	--outline-size: max(2px, 0.08em);
	--outline-style: auto;
	--outline-color: var(--color-blue-elastic);
	--outline-offset: 5;
	--header-height: calc(var(--spacing) * 21);
	--banner-height: calc(var(--spacing) * 9);
	/*--offset-top: calc(var(--header-height) + var(--banner-height));*/
	--offset-top: 72px;
}

@media screen and (min-width: 767px) {
	:root {
		--offset-top: 123px;
	}
}

@media screen and (min-width: 992px) {
	:root {
		--offset-top: 131px;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--offset-top: 72px;
	}
}

#pages-nav li.current {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -1px;
		width: calc(var(--spacing) * 6);
		height: 1px;
		background-color: var(--color-grey-10);
	}
}

#toc-nav a.current {
	color: var(--color-blue-elastic);
	&:hover {
		color: var(--color-blue-elastic);
	}
}

@layer components {
	.link {
		@apply text-blue-elastic hover:text-blue-elastic-100 inline-flex items-center justify-center font-sans font-semibold text-nowrap;

		.link-icon {
			@apply mr-2 ml-0 size-4 shrink-0;
		}

		.link-arrow {
			@apply ml-2 size-7 shrink-0 transition-transform ease-out;
		}

		&:hover {
			svg:not(.link-icon) {
				@apply translate-x-2;
			}
		}
	}

	.sidebar {
		.sidebar-nav {
			@apply sticky top-(--offset-top) z-30 overflow-y-auto;
			max-height: calc(100vh - var(--offset-top));
			scrollbar-gutter: stable;
			scroll-behavior: smooth;
		}

		.sidebar-link {
			@apply text-ink-light inline-block leading-[1.2em] text-pretty hover:text-black md:text-sm;
			word-break: break-word;
		}
	}

	.content-container {
		@apply w-full max-w-[80ch];
	}

	.applies {
		@apply font-sans;
		border-bottom: 1px solid var(--color-grey-20);
		padding-bottom: calc(var(--spacing) * 3);
		font-variant: all-petite-caps;

		.applicable-meta-discontinued {
			color: var(--color-red-90);
		}
		.applicable-meta-coming {
			color: var(--color-blue-elastic-80);
		}
		.applicable-meta-technical-preview {
			color: var(--color-yellow-80);
		}

		.applicable-info {
			padding: calc(var(--spacing) * 0.5);
			padding-left: calc(var(--spacing) * 2);
			padding-right: calc(var(--spacing) * 2);
			margin: calc(var(--spacing) * 0.5);
			display: inline-block;
			font-size: 0.8em;
			border-radius: 0.4em;
			background-color: var(--color-white);
			border: 1px solid var(--color-grey-20);
		}
		.applicable-version {
			font-weight: bold;
			margin-left: calc(var(--spacing) * 0.5);
			font-variant: none;
			font-size: 0.87em;
		}
		.applicable-lifecycle {
			font-weight: bold;
		}
	}
	.applies-inline {
		@apply font-sans;
		font-variant: all-petite-caps;

		.applicable-meta-discontinued {
			color: var(--color-red-90);
		}
		.applicable-meta-coming {
			color: var(--color-blue-elastic-80);
		}
		.applicable-meta-technical-preview {
			color: var(--color-blue-elastic-80);
		}

		.applicable-info {
			padding: calc(var(--spacing) * 0.5);
			padding-left: calc(var(--spacing) * 2);
			padding-right: calc(var(--spacing) * 2);
			margin-left: calc(var(--spacing) * 0.5);
			margin-right: calc(var(--spacing) * 0.5);
			display: inline-block;
			font-size: 0.8em;
			border-radius: 0.4em;
			background-color: var(--color-white);
			border: 1px solid var(--color-grey-20);
			font-weight: normal;
		}
		.applicable-version {
			font-weight: bold;
			margin-left: calc(var(--spacing) * 0.5);
			font-variant: none;
			font-size: 0.87em;
		}
		.applicable-lifecycle {
			font-weight: bold;
		}
	}
}

* {
	scroll-margin-top: calc(var(--offset-top) + var(--spacing) * 6);
}

:is(a, button, input, textarea, summary):focus {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
	outline: none;
}

.htmx-indicator {
	display: none;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
	display: block;
	z-index: 9999;
}

.progress {
	animation: progress 1s infinite linear;
}

.left-right {
	transform-origin: 0% 50%;
}
@keyframes progress {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

#pages-nav .current {
	@apply text-blue-elastic! font-semibold;
}

.markdown-content {
	@apply font-body;
}

.container {
	@apply lg:px-3;

	max-width: 1250px !important;
}

#elastic-nav {
	min-height: var(--offset-top);
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

#pages-nav details > summary::-webkit-details-marker {
	display: none;
}

#dismissible-banner {
	@apply font-body sticky bottom-0 z-50 mt-0 hidden flex-row items-center justify-between p-4 text-sm;
}

#dismissible-button {
	@apply text-blue-developer cursor-pointer text-base font-bold;
	&:hover {
		@apply bg-grey-20 rounded-2xl;
	}
}
