@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>


<footer class="py-12 px-6 w-full mx-auto bg-ink-dark">
	<div class="max-w-(--max-layout-width) w-full mx-auto">
	<div class="text-grey-20 text-[12px]">
		<a href="https://www.elastic.co/">
			<img class="block" alt="Elastic logo" src="@Model.Static("logo-elastic-horizontal-white.svg")" width="120"/>
		</a>
	</div>
	<div class="text-grey-20 text-[12px] bg-ink-dark grid grid-cols-1 md:grid-cols-2 gap-2 items-center">
		<div>
			<ul class="mt-4 flex gap-3">
				<li>
					<a class="underline hover:text-white" href="https://www.elastic.co/legal/trademarks">Trademarks</a>
				</li>
				<li>
					<a class="underline hover:text-white" href="https://www.elastic.co/legal/terms-of-use">Terms of Use</a>
				</li>
				<li>
					<a class="underline hover:text-white" href="https://www.elastic.co/legal/privacy-statement">Privacy</a>
				</li>
				<li>
					<a class="underline hover:text-white" href="https://www.elastic.co/sitemap">Sitemap</a>
				</li>
			</ul>
			<p class="mt-4">
				© @(DateTime.Today.Year) Elasticsearch B.V. All Rights Reserved.
			</p>
		</div>
		<p class="mt-4">
			Elasticsearch is a trademark of Elasticsearch B.V., registered in the U.S. and in other countries. Apache, Apache Lucene, Apache Hadoop, Hadoop, HDFS and the yellow elephant logo are trademarks of the Apache Software Foundation in the United States and/or other countries.
		</p>
	</div>
	</div>
</footer>

<script src="@Model.Static("main.js")"></script>
