@inherits RazorSlices.RazorSlice<Elastic.Markdown.Slices.Blocks.AdmonitionHtml>
<div class="admonition @Model.Info @Model.Classes" id="@Model.Id">
	<p class="admonition-title">@Model.Title</p>
	[CONTENT]
</div>