@inherits RazorLayoutSlice<GlobalLayoutViewModel>
<!DOCTYPE html>
<html lang="en" class="h-screen" xmlns="http://www.w3.org/1999/html">
@await RenderPartialAsync(_Head.Create(Model))

@{
	var layout = Model.Layout;
}

<body
	class="group/body text-ink has-[#primary-nav-hamburger:checked]:overflow-hidden"
	hx-ext="preload, head-support"
	data-root-path="@Model.Link("/")">
@if (Model.GoogleTagManager.Enabled)
{
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@(Model.GoogleTagManager.Id)@(new HtmlString(Model.GoogleTagManager.QueryString()))"
	                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
}
@(await RenderPartialAsync(_Header.Create(Model)))
<div id="main-container" class="flex flex-col items-center border-t-1 border-grey-20">
	@switch (layout)
	{
		case LayoutName.NotFound:
			await RenderPartialAsync(_NotFound.Create(Model));
			break;
		case LayoutName.LandingPage:
			await RenderPartialAsync(_LandingPage.Create(Model));
			break;
		case LayoutName.Archive:
			await RenderPartialAsync(_Archive.Create(Model));
			break;
		default:
			await RenderBodyAsync();
			break;
	}
</div>
@await RenderPartialAsync(_Footer.Create(Model))
@if (layout is not LayoutName.Archive)
{
	<aside id="dismissible-banner" class="admonition tip">
		<div class="container flex justify-between items-center mx-auto">
			<p>
				Welcome to the docs for the <a class="link text-base" href="/docs/get-started/versioning-availability#find-docs-for-your-product-version">latest Elastic product versions</a>, including Elastic Stack 9.0 and Elastic Cloud Serverless.
				To view previous versions, go to <a class="link text-base" target="_blank" href="https://elastic.co/guide">elastic.co/guide</a>.
			</p>
			<button id="dismissible-button">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
				</svg>
			</button>
		</div>
	</aside>
}
</body>
</html>
