@inherits RazorSlice<LayoutViewModel>
<div class="bg-[#F5F7FA] w-full px-8 py-16 text-center">
	<div class="container mx-auto mt-20">
		<h1 class="text-4xl md:text-6xl">Archive</h1>
		<p class="mt-6 font-body">
			Browse the archived documentation for older Elastic product releases.<br /> Archived documentation is
			unmaintained and may be out-of-date.
		</p>
	</div>
</div>
<div style="background-image: url(@(Model.Static("delorean-bg.png"))"
     class="delorean-background bg-center bg-repeat-x w-full h-30 bg-blue-developer py-6 flex items-center justify-center">
	<img id="delorean" src="@Model.Static("delorean.png")" alt="" width="200" class="delorean">
</div>
<div class="bg-blue-developer text-white size-full px-8 py-16">
	<div class="container mx-auto">
		@* Keeping this here if it becomes relevant in the future *@
		@* *@
		@* <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6"> *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Search</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"> *@
		@* 				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 				   href="https://elastic.co/guide/en/elasticsearch/reference/8.18/index.html" *@
		@* 				   rel="noopener noreferrer" target="_blank">Elasticsearch Guide</a> *@
		@* 			</li> *@
		@* 			<li class="mt-2"> *@
		@* 				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 				   href="https://elastic.co/guide/en/enterprise-search/8.18/index.html" *@
		@* 				   rel="noopener noreferrer" *@
		@* 				   target="_blank">Enterprise Search Guide</a> *@
		@* 			</li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/workplace-search/8.18/index.html" *@
		@* 			                    rel="noopener noreferrer" *@
		@* 			                    target="_blank">Workplace Search Guide</a></li> *@
		@* 			<li class="mt-2"> *@
		@* *@
		@* 				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 				   href="https://elastic.co/guide/en/app-search/8.18/index.html" rel="noopener noreferrer" *@
		@* 				   target="_blank">App Search Guide</a> *@
		@* 			</li> *@
		@* 			<li class="mt-2"> *@
		@* *@
		@* 				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 				   href="https://elastic.co/guide/en/enterprise-search-clients/index.html" *@
		@* 				   rel="noopener noreferrer" *@
		@* 				   target="_blank">Enterprise Search Clients</a> *@
		@* 			</li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Observability</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/observability/8.18/index.html" *@
		@* 			                    rel="noopener noreferrer" *@
		@* 			                    target="_blank">Observability</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/apm/index.html" rel="noopener noreferrer" *@
		@* 			                    target="_blank">APM Agents</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/apm/index.html" rel="noopener noreferrer" *@
		@* 			                    target="_blank">APM Extensions</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/ecs-logging/index.html" *@
		@* 			                    rel="noopener noreferrer" *@
		@* 			                    target="_blank">ECS Logging</a></li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Security</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/security/8.18/es-overview.html" *@
		@* 			                    rel="noopener noreferrer" *@
		@* 			                    target="_blank">Security</a></li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Elastic Stack</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/starting-with-the-elasticsearch-platform-and-its-solutions/8.18/api-reference.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Starting with the Elasticsearch *@
		@* 				Platform *@
		@* 				and its Solutions</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elasticsearch/client/curator/8.0/ilm.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Curator Index Management</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/ecs/8.18/ecs-reference.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Elastic Common Schema (ECS) *@
		@* 				Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elasticsearch/client/index.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elasticsearch Clients</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elasticsearch/hadoop/8.18/index.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elasticsearch for Apache Hadoop and Spark</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/esre/8.18/index.html" target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elasticsearch Relevance Engine (ESRE)</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elastic-stack-glossary/current/terms.html" $1$ TODO #1# *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Glossary</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elastic-stack/8.18/overview.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Installation and Upgrade Guide</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/kibana/8.18/index.html" target="_blank" *@
		@* 			                    rel="noopener noreferrer">Kibana Guide</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/machine-learning/8.18/index.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Machine Learning</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elasticsearch/painless/8.18/index.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Painless Scripting Language</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/elasticsearch/plugins/8.18/index.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Plugins and Integrations</a></li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Ingest</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/ingest/current/use-case-arch.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elastic Ingest Reference Architectures</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/fleet/8.18/index.html" target="_blank" *@
		@* 			                    rel="noopener noreferrer">Fleet and Elastic Agent Guide</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/logstash/8.18/introduction.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Logstash Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/loggingplugin/current/log-driver-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Elastic Logging Plugin for Docker</a> *@
		@* 			</li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/auditbeat/8.18/auditbeat-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Auditbeat Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/devguide/8.18/pr-review.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Beats Developer Guide</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/libbeat/8.18/beats-reference.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Beats Platform Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/filebeat/8.18/filebeat-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Filebeat Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/heartbeat/8.18/heartbeat-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Heartbeat Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/metricbeat/8.18/metricbeat-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Metricbeat Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/packetbeat/8.18/packetbeat-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Packetbeat Reference</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/beats/winlogbeat/8.18/_winlogbeat_overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Winlogbeat Reference</a></li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* *@
		@* 	<div class="rounded-xl border-1 border-grey-100 p-6"> *@
		@* 		<h2 class="text-2xl font-semibold">Cloud</h2> *@
		@* 		<ul class="mt-4 list-disc text-grey-40 ml-6"> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/cloud/current/ec-getting-started.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elastic Cloud, Hosted Elastic Stack</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/serverless/current/intro.html" target="_blank" $1$ TODO #1# *@
		@* 			                    rel="noopener noreferrer">Serverless</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/cloud-enterprise/3.7/Elastic-Cloud-Enterprise-overview.html" *@
		@* 			                    target="_blank" rel="noopener noreferrer">Elastic Cloud Enterprise - Elastic *@
		@* 				Cloud *@
		@* 				on your Infrastructure</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/cloud-on-k8s/2.16/k8s-overview.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elastic Cloud on Kubernetes</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/ecctl/1.14/ecctl-overview.html" *@
		@* 			                    target="_blank" *@
		@* 			                    rel="noopener noreferrer">Elastic Cloud Control - The Command-Line Interface for *@
		@* 				Elasticsearch Service and ECE</a></li> *@
		@* 			<li class="mt-2"><a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" *@
		@* 			                    href="https://elastic.co/guide/en/tpec/current/index.html" target="_blank" $1$ TODO #1# *@
		@* 			                    rel="noopener noreferrer">Elastic Cloud Terraform Provider</a></li> *@
		@* 		</ul> *@
		@* 	</div> *@
		@* </div> *@
		<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-6 mt-4 list-disc text-grey-40 ml-6">
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elasticsearch/guide/current/index.html" target="_blank"
				   rel="noopener noreferrer">Elasticsearch - The Definitive Guide</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elasticsearch/client/elasticsearch-js/current/index.html"
				   target="_blank" rel="noopener noreferrer">Elasticsearch.js for 5.6-7.6</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elastic-stack-gke/current/index.html" target="_blank"
				   rel="noopener noreferrer">Elastic Stack and Google Cloud's Anthos</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elasticsearch/resiliency/current/index.html" target="_blank"
				   rel="noopener noreferrer">Elasticsearch Resiliency Status</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/beats/functionbeat/current/index.html" target="_blank"
				   rel="noopener noreferrer">Functionbeat Reference</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elastic-stack-get-started/index.html" target="_blank"
				   rel="noopener noreferrer">Getting Started</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/graph/current/index.html" target="_blank"
				   rel="noopener noreferrer">Graph Reference for 2.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elasticsearch/client/groovy-api/current/index.html"
				   target="_blank" rel="noopener noreferrer">Groovy API</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/infrastructure/guide/current/index.html" target="_blank"
				   rel="noopener noreferrer">Infrastructure Monitoring Guide for 6.5-7.4</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/beats/journalbeat/current/index.html" target="_blank"
				   rel="noopener noreferrer">Journalbeat Reference for 6.5-7.15</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/get-started/current/index.html" target="_blank"
				   rel="noopener noreferrer">Legacy APM Overview</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/server/current/index.html" target="_blank"
				   rel="noopener noreferrer">Legacy APM Server Reference</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/logs/guide/current/index.html" target="_blank"
				   rel="noopener noreferrer">Logs Monitoring Guide for 7.5-7.9</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/marvel/current/index.html" target="_blank"
				   rel="noopener noreferrer">Marvel Reference for 2.x and 1.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/metrics/guide/current/index.html" target="_blank"
				   rel="noopener noreferrer">Metrics Monitoring Guide for 7.5-7.9</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/reporting/current/index.html" target="_blank"
				   rel="noopener noreferrer">Reporting Reference for 2.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/sense/current/index.html" target="_blank"
				   rel="noopener noreferrer">Sense Editor for 4.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/shield/current/index.html" target="_blank"
				   rel="noopener noreferrer">Shield Reference for 2.x and 1.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/siem/guide/current/index.html" target="_blank"
				   rel="noopener noreferrer">SIEM Guide</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/swiftype/sitesearch/current/index.html" target="_blank"
				   rel="noopener noreferrer">Site Search Reference</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/elastic-stack-overview/current/index.html" target="_blank"
				   rel="noopener noreferrer">Stack Overview [7.4] — other versions</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/beats/topbeat/current/index.html" target="_blank"
				   rel="noopener noreferrer">Topbeat Reference</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/uptime/current/index.html" target="_blank"
				   rel="noopener noreferrer">Uptime Monitoring Guide for 7.2-7.9</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/watcher/current/index.html" target="_blank"
				   rel="noopener noreferrer">Watcher Reference for 2.x and 1.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline"
				   href="https://elastic.co/guide/en/x-pack/current/index.html" target="_blank"
				   rel="noopener noreferrer">X-Pack Reference for 6.0-6.2 and 5.x</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" href="https://elastic.co/guide/cn/index.html"
				   target="_blank" rel="noopener noreferrer">简体中文</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" href="https://elastic.co/guide/jp/index.html"
				   target="_blank" rel="noopener noreferrer">日本語</a></li>
			<li class="mt-2">
				<a class="text-blue-elastic-60 hover:text-blue-elastic-90 hover:underline" href="https://elastic.co/guide/kr/index.html"
				   target="_blank" rel="noopener noreferrer">한국어</a></li>
		</ul>
	</div>
	<div class="flex justify-center p-6 mt-12">
		<a href="@Model.Link("/")" class="link">
			Go to current documentation
			<svg class="link-arrow"
			     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
			</svg>
		</a>
	</div>
</div>
<script type="module">
	const delorean = document.getElementById('delorean');
	let isTraveling = false;
	delorean.addEventListener('click', () => {
		if (!isTraveling) {
			isTraveling = true;
			delorean.style.transform = `translateX(calc(100vw - 50px))`;
			const flashPattern = [300, 150, 600, 200, 50, 50, 50, 50, 50]; // Milliseconds delays
			let totalDelay = 0;
			flashPattern.forEach(delay => {
				totalDelay += delay;
				setTimeout(() => {
					createScreenFlash();
				}, totalDelay);
			});
			setTimeout(() => {
				window.location.assign('@Model.Link("/")')
			}, 1500);
		}
	});

	function createScreenFlash() {
		const flash = document.createElement('div');
		flash.className = 'screen-flash';
		flash.style.animation = 'flash-colors 0.4s ease-in-out';
		document.body.appendChild(flash);
		setTimeout(() => {
			flash.classList.add('show');
			setTimeout(() => {
				flash.remove();
			}, 400);
		});
	}
</script>
