@inherits RazorSlice<LayoutViewModel>
@if (Model.IsRedesign)
{
}
else
{
	<footer class="sy-foot">
		<div class="sy-foot-inner sy-container mx-auto">
			<div class="sy-foot-reserved md:flex justify-between items-center">
				<div class="sy-foot-copyright"><p>2024, Elasticsearch B.V. All Rights Reserved.</p>

					<p> Made with <a href="https://github.com/elastic/docs-builder">Elastic.Markdown</a> and <a href="https://shibuya.lepture.com">Shibuya theme</a>.
					</p>
				</div>
				<div class="sy-foot-socials"></div>
			</div>
		</div>
	</footer>	
}
