		<div class="sy-head-nav" id="HeadNav">
			<nav class="sy-head-links"><ul><li class="link"><a href="#"><strong>Elastic Docs v3</strong></a></li>
					<li class="link"><button type="button">
							<span>Start Here</span>
							<i class="i-lucide chevron-down"></i>
						</button>
						<ul><li><a href="#">
									<span>Search</span>
									<small>Build custom applications with your data using Elasticsearch.</small>
								</a></li><li><a href="#">
									<span>Observability</span>
									<small>Monitor applications and systems with Elastic Observability.</small>
								</a></li><li><a href="#">
									<span>Security</span>
									<small>Detect, investigate, and respond to threats with Elastic Security.</small>
								</a></li></ul>
					</li>
					<li class="link"><button type="button">
							<span>Deploy</span>
							<i class="i-lucide chevron-down"></i>
						</button>
						<ul><li><a href="#">
									<span>Elastic Cloud</span>
									<small>Deploy instances of the Elastic Stack in the cloud, with the provider of your choice.</small>
								</a></li><li><a href="#">
									<span>Elastic Cloud Enterprise</span>
									<small>Deploy Elastic Cloud on public or private clouds, virtual machines, or your own premises.</small>
								</a></li><li><a href="#">
									<span>Elastic Cloud on Kubernetes</span>
									<small>Deploy Elastic Cloud on Kubernetes.</small>
								</a></li><li><a href="#">
									<span>Self managed</span>
									<small>Install, configure, and run Elastic products on your own premises.</small>
								</a></li></ul>
					</li>
					<li class="link"><button type="button">
							<span>Reference</span>
							<i class="i-lucide chevron-down"></i>
						</button>
						<ul><li><a href="#">
									<span>API Reference</span>
									<small>Description.</small>
								</a></li><li><a href="#">
									<span>Configuration Reference</span>
									<small>Description.</small>
								</a></li><li><a href="#">
									<span>Troubleshooting</span>
									<small>Description.</small>
								</a></li></ul>
					</li><li class="link"><a href="#">What's New</a></li></ul></nav>
			@* ReSharper disable once Html.PathError *@
			<div class="sy-head-extra flex items-center print:hidden"><form class="searchbox flex items-center" action="search.html" method="get">
					<input type="text" name="q" placeholder="Search">
					<kbd>/</kbd>
				</form><div class="sy-head-socials"></div></div>
		</div>
		<div class="sy-head-actions flex items-center shrink-0 print:hidden"><button class="js-theme theme-switch flex items-center" data-aria-auto="Switch to light color mode" data-aria-light="Switch to dark color mode" data-aria-dark="Switch to auto color mode" aria-label="Switch to light color mode">
				<i class="i-lucide theme-icon"></i>
			</button><button class="md:hidden flex items-center js-menu" aria-label="Menu" type="button" aria-controls="HeadNav" aria-expanded="false">
				<div class="hamburger">
					<span class="hamburger_1"></span>
					<span class="hamburger_2 -translate-x-2"></span>
					<span class="hamburger_3 -translate-x-1"></span>
				</div>
			</button>
		</div>
