@inherits RazorSlice<LayoutViewModel>

<div id="elastic-nav"></div>
<script src="https://www.elastic.co/elastic-nav.js"></script>
@if (Model.Features.IsPrimaryNavEnabled)
{
 	@await RenderPartialAsync(_SecondaryNav.Create(Model))
}
