@inherits RazorSlice<LayoutViewModel>
@if (Model.Features.IsPrimaryNavEnabled)
{
	<div id="elastic-nav"></div>
	<script src="https://www.elastic.co/elastic-nav.js"></script>
 	@await RenderPartialAsync(_SecondaryNav.Create(Model))
}
else
{
	<header class="sticky top-0 z-50 bg-blue-developer text-white text-lg font-semibold h-(--offset-top) flex items-center px-6">
		<div class="container mx-auto">
			<div class="flex justify-between items-center">
				@* ReSharper disable once Html.IdNotResolved *@
				<label role="button" class="md:hidden cursor-pointer" for="pages-nav-hamburger">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
					</svg>
				</label>
				<a href="@Model.Link("/")" class="flex items-center gap-2">
					<img src="@Model.Static("logo-elastic-glyph-color.svg")" alt="" width="32" height="32">
					@Model.DocSetName
				</a>
			</div>
		</div>
	</header>
}
