@inherits RazorSlice<LayoutViewModel>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@Model.Title</title>
	<link rel="index" title="Index" href="genindex.html"/>
	<link rel="search" title="Search" href="search.html"/>
	<link rel="next" title="Elastic content" href="elastic/index.html"/>
	<link rel="stylesheet" type="text/css" href="/_static/pygments.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/shibuya.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/mystnb.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/copybutton.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/togglebutton.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/sphinx-design.min.css"/>
	<link media="print" rel="stylesheet" type="text/css" href="/_static/print.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/custom.css"/>
	<link rel="stylesheet" type="text/css" href="/_static/atom-one-light.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<style>
			:root {
				--sy-f-text: "Inter", var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
				--sy-f-heading: "Inter", var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
			}
		</style>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Elastic Docs v3"/>
	<meta name="twitter:card" content="summary"/>
</head>