@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>

@{
	string GetHxAttributes(string url)
	{
		return Htmx.GetHxAttributes(Model.Features, Model.UrlPathPrefix, Model.CurrentDocument.Url, url);
	}

	var primaryNavViewModel = new PrimaryNavViewModel
	{
		Items =
		[
			new PrimaryNavItemViewModel
			{
				Title = "Get Started",
				HtmxAttributes = GetHxAttributes(Model.Link("/get-started")),
				Url = Model.Link("/get-started"),
			},
			new PrimaryNavItemViewModel
			{
				Title = "Solutions and use cases",
				Url = Model.Link("/solutions"),
				HtmxAttributes = GetHxAttributes(Model.Link("/solutions")),
				DropdownItems = [
					new PrimaryNavDropdownItemViewModel
					{
						IconPath = Model.Static("elasticsearch-logo-color-64px.svg"),
						IconAlt = "Search logo",
						Title = "Search",
						Description = "Build search experiences to help users find what they need instantly.",
						Url = Model.Link("/solutions/search"),
						HtmxAttributes = GetHxAttributes(Model.Link("/solutions/search"))
					},
					new PrimaryNavDropdownItemViewModel
					{
						IconPath = Model.Static("observability-logo-color-64px.svg"), 
						IconAlt = "Observability logo", 
						Title = "Observability", 
						Description = "Unify monitoring for apps and infrastructure.", 
						Url =  Model.Link("/solutions/observability"),
						HtmxAttributes = Htmx.GetHxAttributes(
							Model.Features,
							Model.CurrentDocument.UrlPathPrefix,
							Model.CurrentDocument.Url, 
							Model.Link("/solutions/observability")
						)
					},
					new PrimaryNavDropdownItemViewModel
					{
						IconPath = Model.Static("security-logo-color-64px.svg"), 
						IconAlt = "Security logo",
						Title = "Security",
						Description = "Protect, investigate, and respond to cyber threats.", 
						Url =  Model.Link("/solutions/security"),
						HtmxAttributes = GetHxAttributes(Model.Link("/solutions/security"))
					}
				]
			},
			new PrimaryNavItemViewModel
			{
				Title = "Work with the Elastic Stack",
				DropdownItems = [
					new PrimaryNavDropdownItemViewModel
					{
						Title = "Manage your data", 
						Description = "Ingest, enrich, and manage your data.",
						Url = Model.Link("/manage-data"),
						HtmxAttributes = GetHxAttributes(Model.Link("/manage-data"))
					},
					new PrimaryNavDropdownItemViewModel
					{
						Title = "Explore and analyze your data",
						Description = "Query, shape, visualize, alert, and more.", 
						Url = Model.Link("/explore-analyze"),
						HtmxAttributes = GetHxAttributes(Model.Link("/explore-analyze"))
					},
					new PrimaryNavDropdownItemViewModel
					{
						Title = "Deploy and manage Elastic", 
						Description = "Deploy, configure, manage, and upgrade clusters and deployments.", 
						Url = Model.Link("/deploy-manage"),
						HtmxAttributes = GetHxAttributes(Model.Link("/deploy-manage"))

					},
					new PrimaryNavDropdownItemViewModel
					{
						Title = "Manage your Cloud account",
						Description = "Manage the settings for your Elastic Cloud account.",
						Url = Model.Link("/cloud-account"),
						HtmxAttributes = GetHxAttributes(Model.Link("/cloud-account"))
					},
				]
			},
			new PrimaryNavItemViewModel
			{
				Title = "Reference",
				HtmxAttributes = GetHxAttributes(Model.Link("/reference")),
				Url = Model.Link("/reference"),
			},
		]
	};
}
<div id="elastic-nav"></div>
<script src="https://www.elastic.co/elastic-nav.js"></script>
@if (Model.Features.IsPrimaryNavEnabled)
{
 	@await RenderPartialAsync(_SecondaryNav.Create(Model))
}
