@inherits RazorSlice<LayoutViewModel>
<div class="p-12 font-body text-center flex flex-col items-center justify-center">
	<span class="text-4xl font-sans font-semibold">Page not found</span>
	<p class="mt-2">The page you are looking for could not be found.</p>
	<a href="@Model.Link("/")" class="link my-6">
		Go back to home
		<svg class="link-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
		</svg>
	</a>
</div>
