@inherits RazorSlice<LayoutViewModel>
<aside class="sidebar hidden lg:block order-1 w-100 border-r-1 border-r-gray-200">
	<nav id="pages-nav" class="sidebar-nav pr-6">
		@(new HtmlString(Model.NavigationHtml))
	</nav>
	<script src="@Model.Static("pages-nav.js")"></script>
</aside>
