@inherits RazorSlice<LayoutViewModel>
<aside class="sidebar bg-white fixed md:sticky shadow-2xl md:shadow-none left-[100%] group-has-[#pages-nav-hamburger:checked]/body:left-0 bottom-0 md:left-auto pl-6 md:pl-0 top-[calc(var(--offset-top)+1px)]  order-1 w-[80%] md:w-auto shrink-0 border-r-1 border-r-grey-20 z-40 md:z-auto">
	
	<nav
		id="pages-nav"
		class="sidebar-nav pr-6"
		@* used to invalidate session storage *@
		data-current-navigation="@LayoutViewModel.CurrentNavigationId">
		@(new HtmlString(Model.NavigationHtml))
	</nav>
	<label role="button" for="pages-nav-hamburger" class="absolute md:hidden top-4 right-4 bg-white p-1 rounded-full border-1 border-grey-20 cursor-pointer z-99">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
		</svg>
	</label>
</aside>
<label for="pages-nav-hamburger" aria-hidden="true" class="hidden group-has-[#pages-nav-hamburger:checked]/body:block md:hidden! fixed top-0 left-0 right-0 bottom-0 bg-black/50 z-30 ">
	
</label>
