@inherits RazorSlice<LayoutViewModel>
<aside id="rside" class="sy-rside pb-3 w-64 shrink-0 order-last">
	<button class="rside-close js-menu xl:hidden" aria-label="Close Table of Contents" type="button" aria-controls="rside" aria-expanded="false">
		<i class="i-lucide close"></i>
	</button>
	<div class="sy-scrollbar sy-rside-inner px-6 xl:top-16 xl:sticky xl:pl-0 pt-6 pb-4">
		<div class="localtoc">
			<h3>On this page</h3>
			<ul>
			@foreach (var item in Model.PageTocItems)
			{
				<li><a class="reference internal" href="#@item.Slug">@item.Heading</a></li>
			}
			</ul>
		</div>
		<div class="edit-this-page">
			<a href="https://github.com/elastic/markitpy-samples/blob/master/docs/source/index.md">Edit this page</a>
		</div>
	</div>
</aside>
<div class="rside-overlay js-menu" role="button" aria-label="Close Table of Contents" aria-controls="rside" aria-expanded="false"></div>