@inherits RazorSlice<NavigationViewModel>
<aside id="lside" class="sy-lside md:w-72 md:shrink-0 print:hidden">
	<div class="sy-lside-inner md:sticky">
		<div class="sy-scrollbar p-6">
			<div class="globaltoc" data-expand-depth="1">
				<p class="caption" role="heading" aria-level="3">
					<span class="caption-text">Elastic Docs Guide</span>
				</p>
				<ul class="current">@await RenderPartialAsync(Elastic.Markdown.Slices.Layout._TocTreeNav.Create(new NavigationTreeItem
					{
						Level = Model.Tree.Level,
						SubTree = Model.Tree,
						CurrentDocument = Model.CurrentDocument
					}))
				</ul>
			</div>
		</div>
	</div>
</aside>
<div class="lside-overlay js-menu" role="button" aria-label="Close left sidebar" aria-controls="lside" aria-expanded="false"></div>
